<div class="w100 text-left popup-conatiner">
    <div class="px-10 py-05 row m-0">
        <div class="col-xs-12 col-sm-12 p-0">
            <div class="row m-0 align-center py-05">
                <div class="col-xs-12 col-sm-3 px-02">
                    <div class="text-input">
                        <input type="text" class="w100 h100 text-input-2" placeholder="Enter Order No." required>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 px-02">
                    <div class="text-input">
                        <input type="text" class="w100 h100 text-input-2" placeholder="User" required>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 px-02">
                    <div class="text-input">
                        <input type="text" class="w100 h100 text-input-2" placeholder="Pick-Up" required>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 px-02">
                    <div class="text-input">
                        <input type="text" class="w100 h100 text-input-2" placeholder="Drop-Off" required>
                    </div>
                </div>
            </div>
            <div class="row m-0 py-05 align-center">
                <div class="col-xs-12 col-sm-9 p-0">
                    <div class="row m-0">
                        <div class="align-center m-0 pr-05">
                            <input type="checkbox" class="checkbox-round"/>
                            <label class="pl-02 m-0 fw100 text07 color-dark">Pending</label>
                        </div>
                        <div class="align-center m-0 pr-05">
                            <input type="checkbox" class="checkbox-round"/>
                            <label class="pl-02 m-0 fw100 text07 color-dark">In-Transit</label>
                        </div>
                        <div class="align-center m-0 pr-05">
                            <input type="checkbox" class="checkbox-round"/>
                            <label class="pl-02 m-0 fw100 text07 color-dark">Cancelled</label>
                        </div>
                        <div class="align-center m-0 pr-05">
                            <input type="checkbox" class="checkbox-round"/>
                            <label class="pl-02 m-0 fw100 text07 color-dark">Completed</label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 p-0 text-right">
                    <button matRipple [matRippleCentered]="true" class="confirm-btn" type="button">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>