<div class="w100 text-left popup-conatiner">
    <div class="note-header px-10 py-05 color-primary fw700">Your Notifications</div>
    <div class="px-10 py-05 row m-0">
        <div class="col-xs-12 col-sm-12 p-0">
            <div class="row m-0 align-center py-05">
                <div class="col-xs-12 col-sm-9 p-0">
                    <div class="color-primary fw100 text-note">Dami Emmanuel has completed the trip</div>
                    <div class="text-note color-black-7C pt-02">KLE302AA - <span class="fw100">Toyota Sienna</span></div>
                </div>
                <div class="col-xs-12 col-sm-3 p-0 text-right">
                    <button matRipple [matRippleCentered]="true" class="confirm-btn" type="button">Confirm</button>
                </div>
            </div>
            <div class="row m-0 py-05">
                <div class="border-bottom-2 col-xs-12 col-sm-12"></div>
            </div>
            <div class="row m-0 align-center py-05">
                <div class="col-xs-12 col-sm-12 p-0">
                    <div class="color-primary fw100 text-note">Dami Emmanuel has picked up your order</div>
                </div>
            </div>
            <div class="row m-0 py-05">
                <div class="border-bottom-2 col-xs-12 col-sm-12"></div>
            </div>
            <div class="row m-0 align-center py-05">
                <div class="col-xs-12 col-sm-12 p-0">
                    <div class="color-primary fw100 text-note">Dami Emmanuel has arrived at the pickup location</div>
                </div>
            </div>
            <div class="row m-0 py-05">
                <div class="border-bottom-2 col-xs-12 col-sm-12"></div>
            </div>
            <div class="row m-0 align-center py-05">
                <div class="col-xs-12 col-sm-12 p-0">
                    <div class="color-primary fw100 text-note">Dami Emmanuel has arrived at the pickup location</div>
                </div>
            </div>
            <div class="row m-0 py-05">
                <div class="border-bottom-2 col-xs-12 col-sm-12"></div>
            </div>
            <div class="row m-0 align-center py-05">
                <div class="col-xs-12 col-sm-9 p-0">
                    <div class="color-primary fw100 text-note">Dami Emmanuel has completed the trip</div>
                    <div class="text-note color-black-7C pt-02">KLE302AA - <span class="fw100">Toyota Sienna</span></div>
                </div>
                <div class="col-xs-12 col-sm-3 p-0 text-right">
                    <button matRipple [matRippleCentered]="true" class="confirm-btn" type="button">Confirm</button>
                </div>
            </div>
            <div class="row m-0 py-05">
                <div class="border-bottom-2 col-xs-12 col-sm-12"></div>
            </div>
            <div class="row m-0 align-center py-05">
                <div class="col-xs-12 col-sm-12 p-0">
                    <div class="color-primary fw100 text-note">Dami Emmanuel has picked up your order</div>
                </div>
            </div>
            <div class="row m-0 py-05">
                <div class="border-bottom-2 col-xs-12 col-sm-12"></div>
            </div>
            <div class="row m-0 align-center py-05">
                <div class="col-xs-12 col-sm-12 p-0">
                    <div class="color-primary fw100 text-note">Dami Emmanuel has arrived at the pickup location</div>
                </div>
            </div>
            <div class="row m-0 py-05">
                <div class="border-bottom-2 col-xs-12 col-sm-12"></div>
            </div>
            <div class="row m-0 align-center py-05">
                <div class="col-xs-12 col-sm-12 p-0">
                    <div class="color-primary fw100 text-note">Dami Emmanuel has arrived at the pickup location</div>
                </div>
            </div>
            <div class="row m-0 py-05">
                <div class="border-bottom-2 col-xs-12 col-sm-12"></div>
            </div>
        </div>
    </div>
</div>