<div class="container-inner scroll_bar">
    <div class="form">
        <div class="row justify-content-center">
            <div class="col-sm-8">
                <div class="card text-center scroll_bar">
                    <div class="card-body pt-50 pb-20">
                        <img class="h3 mb-30" src="assets/icons/company-logo.svg" alt="Company Logo" />
                        <div class="form-container">
                            <img class="pt-50 pb-20" src="assets/icons/MovingCompany.svg" />
                            <div class="text15 fw700 my-10 color-primary">Let’s Get You Moving!</div>
    
                            <app-main-btn [btnText]="btnText" class="w50" (click)="next()"></app-main-btn>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>